In [ ]:
Q1)Write a Python program to convert a Pandas module Series to a Python list and also state it's type

In [1]:
import pandas as pd

data = {'A': 10, 'B': 20, 'C': 30}
series = pd.Series(data)


python_list = series.tolist()


print("Type of the converted list:", type(python_list))
print("Converted Python list:", python_list)

Type of the converted list: <class 'list'>
Converted Python list: [10, 20, 30]

In [ ]:
Q2)Write a Python program to select the 'name' and 'score' columns from the following DataFrame.
   Sample Python dictionary data and list labels:
   exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
                'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
   labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [2]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

selected_columns = df[['name', 'score']]

print("Selected Columns:")
print(selected_columns)

Selected Columns:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [ ]:
Q3)Write a Python program to select the rows where the score is missing, i.e. is NaN.
   Sample Python dictionary data and list labels:
   exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
                'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
   labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [3]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

missing_score_rows = df[df['score'].isna()]

print("Rows with Missing Scores:")
print(missing_score_rows)

Rows with Missing Scores:
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

Q4)Write a python program to split the string column to form a DataFrame with 3 columns.
    Sample Input:
    df = pd.DataFrame(["STD, City    State",
    "33, Kolkata    West Bengal",
    "44, Chennai    Tamil Nadu",
    "40, Hyderabad    Telengana",
    "80, Bangalore    Karnataka"], columns=['row'])
    
    Expected Output:
    0 STD        City        State
    1  33     Kolkata  West Bengal
    2  44     Chennai   Tamil Nadu
    3  40   Hyderabad    Telengana
    4  80   Bangalore    Karnataka

In [5]:
import pandas as pd

df = pd.DataFrame(["STD, City    State",
                   "33, Kolkata    West Bengal",
                   "44, Chennai    Tamil Nadu",
                   "40, Hyderabad    Telengana",
                   "80, Bangalore    Karnataka"],
                  columns=['row'])

split_data = df['row'].str.split(', | {4}', expand=True)

split_data.columns = ['STD', 'City', 'State']

print(split_data)

   STD       City        State
0  STD       City        State
1   33    Kolkata  West Bengal
2   44    Chennai   Tamil Nadu
3   40  Hyderabad    Telengana
4   80  Bangalore    Karnataka

In [ ]:
Write a python program to find the second largest value of 'taste' for 'banana' in the given DataFrame.
    Input:
    df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

banana_rows = df[df['fruit'] == 'banana']

sorted_ratings = banana_rows['rating'].sort_values(ascending=False)

second_largest = sorted_ratings.iloc[1]

print("Second Largest 'taste' for 'banana':", second_largest)

Second Largest 'taste' for 'banana': 0.33941527055024945